html{
    background-color: black;
}
.main-header{
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 8%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: ease 0.3s all;
    background: transparent;
}
.navigation{
    margin-left: 25px;
    text-decoration: none;
    font-weight: 500;
    color: #b5aeae;
    position: relative;
    justify-content: space-between;
    display: flex;
}
.yoo{
    padding: 12px 24px;
    border-radius: 8px;
    background: rgba(231, 133, 3, 0.904);
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
