.introduction{
    background-color: black;
}
.main-header{
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 8%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: ease 0.3s all;
    background: fixed;
}
.navigation{
    margin-left: 30px;
    text-decoration: #fff;
    font-weight: 500;
    color: #b5aeae;
    position: relative;
    justify-content: space-between;
    gap: 15px;
    display: flex;
    top: -20px;
}
.yoo{
    padding: 12px 24px;
    border-radius: 8px;
    background: rgba(231, 133, 3, 0.904);
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: 0.5
}
.yoo a{
    text-decoration: none;
    color: #fff;
}  
.yoo :hover{
    color: black;
}
nav button:hover{
    background-color:#fff;
    color: black;
}
.smith{
    width: 370px;
    height: auto;
    position: absolute;
    top: 255px;
    right: 38%;
}
.ceo{
    width: 450px;
    height: 500px;
}
.order{
    padding: 12px 24px;
    border-radius: 8px;
    background: #fff;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.food{
    width: 300px;
    top: 130px;
    right: 11%;
    position: absolute;
    height: auto;
    opacity: 0.4;
}
.text-container{
    color: #fff;
    text-align: right;
    position: absolute;
    top: 450px;
    right:50px;
    }
    .text-container h1{
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 20px;
        font-weight: bolder;
    }
    .text-container p{
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 20px;
        font-weight: lighter;
        opacity: 0.5;
    }
.content{
    background-color:rgb(255, 136, 0) ;
}
p .two{
    color: white;
}
